<p>
I enjoy coding and strive to create elegant,
user-friendly solutions that are both simple 
and impactful.
</p>

<p>I live and work in Riga, Latvia and spend my days making kick ass things.</p>

<div id="about_images">
    <span>
    <a href="https://github.com/leonardinius"><img class="contact" style="width: 15%;" src="/img/about/codercat.png" alt="github"/></a>
    <a href="{{ site.baseurl }}/resume.pdf?t={{site.time | date: "%s"}}"><img class="contact" style="width: 12%;" src="/img/about/cv-icon.svg" alt="curriculum vitae"/></a>
    <a href="http://lv.linkedin.com/in/leonidsmaslovs"><img class="contact" style="width: 30%;" src="/img/about/linked-in.png" alt="linkedin"/></a>
    <a href="mailto:leonidms@gmail.com"><img class="contact" style="width: 15%;" src="/img/about/gmail.png" alt="mail"/></a>
    <a href="https://devternity.com"><img class="contact" style="width: 15%;" src="/img/about/devternity.png" alt="devternity" /></a>
    </span>
</div>
