<p>I like to code and I like the feeling of code lines coming out of my fingertips.
    I try to build the simplest and most usable solutions to make awesome.
</p>

<p>I live and work in Riga, Latvia and spend my days making kick ass things at
    <a href="https://www.facebook.com/galeoconsulting/">Galeo Consulting</a>.</p>

<div id="about_images" style="min-height: 125px; text-align: center;">
    <span>
    <a href="https://twitter.com/leonardinius"><img class="contact" style="vertical-align: middle; display:inline; padding: 10px; width: 15%;" src="/img/about/twitter.png" alt="twitter"/></a>
    <a href="callto:leonids.maslovs"><img class="contact" style="vertical-align: middle; display:inline; padding: 10px; width: 15%;" src="/img/about/skype.png" alt="skype"/></a>
    <a href="mailto:leonids.maslovs@galeoconsulting.com"><img class="contact" style="vertical-align: middle; display:inline; padding: 10px; width: 15%;" src="/img/about/gmail.png" alt="mail"/></a>
    <a href="http://lv.linkedin.com/in/leonidsmaslovs"><img class="contact" style="vertical-align: middle; display:inline; padding: 10px; width: 15%;" src="/img/about/linked-in.png" alt="linkedin"/></a>
    <a href="https://github.com/leonardinius"><img class="contact" style="vertical-align: middle; display:inline; padding: 10px; width: 15%;"src="/img/about/codercat.png" alt="linkedin"/></a>
    </span>
</div>
