<div style="padding-left: 1.5rem; padding-right: 1.5rem;">
{% assign counter = 0 %}
{% for post in site.posts %}
    {% assign currentyear = post.date | date: "%Y" %}
    {% capture counter %}{{ counter | plus: '1' }}{% endcapture %}
    {% if forloop.last or currentyear != year %}
        {% if forloop.first == false %}
            <a href="{{ site.baseurl }}archive/#{%if year%}{{year}}{%else%}{{currentyear }}{%endif%}">
                {%if year%}{{year}}{%else%}{{currentyear }}{%endif%}[{{ counter}}]
            </a>
            <br />
        {% endif %}
        {% if forloop.last %}
            {% if currentyear != year %}{% assign counter = 0 %}{% endif %}
            {% capture counter %}{{ counter | plus: '1' }}{% endcapture %}
            <a href="{{ site.baseurl }}archive/#{{currentyear }}">
                {{currentyear }}[{{ counter}}]
            </a>
        {% endif %}
        {% assign year = currentyear %}
        {% assign counter = 0 %}
    {% endif %}
{% endfor %}
</div>