---
layout: page
title: Archive
permalink: /archive/
weight: 100
---

<div id="archives">
{% for post in site.posts %}
    {% assign currentyear = post.date | date: "%Y" %}
    {% if currentyear != year %}
        {% unless forloop.first %}</div>{% endunless %}
        <div class="tags-group">
            <h1 id={{ post.date | date:"%Y" }}>{{ currentyear }}</h1>
        {% assign year = currentyear %}
    {% endif %}

    <article class="archive-item">
      <h4><span style="color: #9a9a9a";>{{ post.date | date_to_string }}</span> &middot; <a href="{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
</div>
