---
layout: page
permalink: /tags/
title: Tags
weight: 90
---

<div id="tags">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
    <div class="tags-group">
        {% capture tag_name %}{{ tag | first }}{% endcapture %}
        <h1 id="#{{ tag_name | slugize }}">{{ tag_name }}</h1>
        <a name="{{ tag_name | slugize }}"></a>
        {% for post in site.tags[tag_name] %}
        <article class="archive-item">
            <h4>{{ post.date | date_to_string }} &middot; <a href="{{ post.url }}">{{post.title}}</a></h4>
        </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>
