---
layout: default
---

<div class="post">
  <h1>
      <a href="{{ site.url }}"> {% if site.env %}[{{ site.env }}] {% endif %}{{ page.title }}</a>
  </h1>

  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}

  <hr/>
  <strong>NB</strong> if you've found any typos, errors or would like to submit corrections or recommendations: please
   <a href="{{ site.github.repo }}/tree/{{ site.github.branch }}/{{ page.path }}">edit via github</a> or
   <a href="{{ site.github.repo }}/issues/new?title=Feedback+on+%60{% if page.title <> null %}{{ page.title | cgi_escape}}{% else %}{{ page.path | cgi_escape}}{% endif %}%60&body=%60{{ page.path | cgi_escape }}%60%0A%0A----%0APlace+your+description+here">file an issue</a>.
</div>

<div class="related">
      {% if page.next %}
        <p><strong>Newer</strong>
            <a href="{{ page.next.url }}">
                {{ page.next.title }}
                <small>{{ page.next.date | date_to_string }}</small>
            </a></p>
      {% endif %}
      {% if page.previous %}
        <p><strong>Older</strong>
            <a href="{{ page.previous.url }}">
                {{ page.previous.title }}
                <small>{{ page.previous.date | date_to_string }}</small>
            </a></p>
      {% endif %}
</div>

{% if site.comments.provider <> null %}
<!-- Start of {{ site.comments.provider }} comments -->
{% case site.comments.provider %}
{% when "disqus" %}
{% include disqus_comments.html %}
{% endcase %}
<!-- End of {{ site.comments.provider }} comments -->
{% endif %}
